<div style="text-align: -webkit-center; margin-top: 10vh;">

    <div class="pill">
        <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p>Name:&nbsp;</p>
                <p>Apples</p>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p>Price:&nbsp;</p>
                <p>4.99</p>
            </div>

        </div>
        <div style="display: flex; flex-direction: column; text-align: left; margin-left: 20px;">
            <p>Description:&nbsp;</p>
            <p>These are red apples from McDonald Farms</p>
        </div>
        <div style="text-align: right; margin-right: 20px; margin-bottom: 20px;">

            <button >Add to cart</button>
        </div>
    </div>
</div>