<div style="text-align: -webkit-center; margin-top: 10vh;">
    <h2 style="color: blue; font-family: sans-serif;">Produce Items:</h2>
    <a style="text-decoration:none" href="products/single">
        <app-product-card-component productInput="Oranges" priceInput="3.99"></app-product-card-component>
    </a>
    <a style="text-decoration:none" href="products/single">
        <app-product-card-component productInput="Apples" priceInput="2.99"></app-product-card-component>
    </a>
    <a style="text-decoration:none" href="products/single">
        <app-product-card-component productInput="Bananas" priceInput="4.99"></app-product-card-component>
    </a>
    <a style="text-decoration:none" href="products/single">
        <app-product-card-component productInput="Grapes" priceInput="3.99"></app-product-card-component>
    </a>
</div>